<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modules</title>
</head>
<body>
    <h1>{{ objects.course }}</h1>

    {% for module, contents in objects.content.items %}
    	<h2>{{ module.title }}</h2>
        {% for content in contents %}
            <h3><a href="{% url 'catalog:course-modules-details' slug=objects.course.slug pk=content.pk %}">{{ content.item }}</a></h3>
        {% endfor %}

    {% endfor %}


</body>
</html>