<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modules</title>
</head>
<body>


<h1>{{ content.item }}</h1>

{% if content.item.content %}
    <p>{{ content.item.content }}</p>
{#{% elif content.item.text %}#}
{% endif %}
{#{{ content.item.answer_set.all }}#}
{% for answer in content.item.answer_set.all %}
	<p>{{ answer }}</p>
{% endfor %}





</body>
</html>