<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <h1>Какие-то курсы</h1>
    <ul>
        {% for course in courses %}
        	<li>{{ course.pk }}</li>
        	<li>{{ course.title }}</li>
            <li><img src="{{ course.logo.url }}" alt="Not found logo"></li>
            <li>{{ course.creator }}</li>
            <li>{{ course.description }}</li>
            <li>{{ course.price }} р.</li>
{#            <li>{{ course.modules.all }}</li>#}
            {% for module in course.modules.all %}
                Модули:
                <ul>
            	    <li>{{ module.title }}</li>

{#                    <li>{{ module.contents.all }}</li>#}
                    <ul>
                        {% for content in module.contents.all %}

                            <li>{{ content.item.title }}</li>
                            <li>{{ content.item.content }}</li>

                        {% endfor %}
                    </ul>

                </ul>
            {% endfor %}

            {% for owner in course.owner.all %}
                Владельцы:
                <ul>
                    <li>{{ owner }}</li>
                </ul>
            {% endfor %}

            <li>{{ course.approval }}</li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>