<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <h1>Какие-то курсы</h1>
    <ul>
        {% for course in courses %}
        	<li>{{ course }}</li>

            <li>{{ course.title }}</li>
            <li>{{ course.owner }}</li>
            <li>{{ course.description }}</li>
            <li>{{ course.price }}</li>
            <li>{{ course.modules }}</li>
            <li>{{ course.approval }}</li>

            <br>

        {% endfor %}
    </ul>
</body>
</html>